{% extends '_layout.html' %}

  {% block body %}
  <style>
  html, body {margin: 0; height: 100%; overflow: hidden}
  </style>
      <div class="jumbotron">
          <br><h1 class = "title bold underline" >Needle</h1>
          <h3 style="color: darkgrey;">Rate Your Friends' Spotify Libraries</h3><br />
      </div>
      <div>
        <div style = "text-align: center;">
        <h4>Do you think you have the best Spotify playlist? Put it to the test
          with needle!<br> See what your friends really think about your favorite jams!<br>
           Needle was developed during the K-State Hackathon.</h4>
            <br>
        <h3 style = "color: rgb(255, 193, 67)">Developers:</h3>
        <h5>Zak Kulphongpatana, Patrick Canny, Milan Minocha</h5>
        <br>
        <h3 style = "color: rgb(255, 193, 67)">Software Used:</h3>
        <h5>HTML5, CSS, Python, Spotipy</h5>
      </div>
      <div style="text-align:center;">
      <img style="max-width:250px; margin-right:100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/K-State_Engineering_logo.png/500px-K-State_Engineering_logo.png">
      <img style="max-width:250px; margin-right:100px; margin-left:100px;" src="https://pbs.twimg.com/profile_images/367166834/blue_background_logo1.jpg">
      <img style="max-width:250px; margin-left:100px;" src="https://static.mlh.io/brand-assets/logo/official/mlh-logo-color.png">

    </div>
  {% endblock %}
<!-- padding -->
