{% extends '_layout.html' %}

  {% block body %}
  <style>
  html, body {margin: 0; height: 100%; overflow: hidden}
  </style>
      <div class="jumbotron">
          <br><h1 class = "title bold underline" >Needle</h1>
          <h3 style="color: darkgrey;">Rate Your Friends' Spotify Libraries</h3><br />
      </div>
      <div>
        <img style = "position:relative; TOP:-80px" height=550px src="https://sonicmoremusic.files.wordpress.com/2013/08/anigif_enhanced-buzz-7434-1376587963-6.gif" width = 1370px>
      </div>

    {% endblock %}
